<div class="page-header">
  <h1>People</h1>
</div>

<table class="table table-bordered">

  <thead>
    <th> First Name </th>
    <th>  Last Name</th>
    <th> Date Of Birth </th>
    <th> Eye Color </th>
    <th> Telephone Number </th>
    <th> Dog Name </th>
    <th> Dog Breed </th>
    <th> Dog Age </th>

  </thead>
  <% @people.each do |person| %>

  <tbody>
    <tr>
      <td><%= person[:first_name] %></td>
      <td><%= person[:last_name] %></td>
      <td><%= person[:date_of_birth] %></td>
      <td><%= person[:eye_color] %></td>
      <td><%= person[:telephone_number] %></td>
      <td><%= person[:dog][:name] %></td>
      <td><%= person[:dog][:breed] %></td>
      <td><%= person[:dog][:age] %></td>
  </tbody>
  <% end %>

</table>
